@use 'variables';

@import 'nav';

header {
    margin-bottom: 20px;
    color: variables.$body-color;
    
}

.container-fluid {
    margin: 0%;
    padding: 0%;
    
}

img {
    width: 100%;
    margin: 0px;
    
}

.title {
    display: flex;
    justify-content: space-between;

}

h1 {
    font-family: variables.$heading-font;
    text-align: left;
    margin-left: 10px;
}

