#about{
  display: flex;
  justify-content: space-between;
}

.sect_content-about{
  width: 400px;
  padding-left: 50px;
}

.about_pic{
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}

.img_ps{
  object-fit:cover;
  width:700px;
  height: 700px;
  //border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

