@use 'variables';

h2{
  font-family: variables.$font1;
  font-size: 72px;
  line-height: 90%;
}

.sect-txt{
  font-family: variables.$font2;
  font-size: 22px;
}

#about, #contact{
  background-color: variables.$orangy;
  margin: 0px;
  padding: 0px;
  
}

#work, #blog{
  margin: 0px;
  padding: 0px;
}

.sect_content{
  padding: 20px 50px 50px 50px;
}


