#work {
  background-color: variables.$blackish;
  height:650px;
  padding: 50px;
}

.sect_content-work{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.work__headline{
  color: variables.$khakhi;
}

h3{
  font-family: variables.$font1;
  font-size: 16px;
  line-height: 10px;
  color: variables.$khakhi;
  text-align: center;
  
}

.carousel__slide-text p{
  font-family: variables.$font2;
  font-size: 14px;
  color: variables.$khakhi;
  text-align: center;
  
}

.section_content-work-info{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.section_content-work-info p{
  color: variables.$khakhi;
  font-family: variables.$font2;
  font-size: 22px;
}

.carousel__slide-text{
  padding-top: 0px;
  padding: 10px;
}


.svg{
  filter: invert(95%) sepia(6%) saturate(968%) hue-rotate(324deg) brightness(95%) contrast(97%);
}

.carousel{
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  //animation-name: appear;
  //animation-duration: 6s;
}

// @keyframes appear{
//   from{
//     opacity: 0;
//   }
//   to{
//     opacity: 1;
//   }
// }

.carousel__image{
  object-fit: cover;
  width: 800px;
  height: 500px;
  border-radius: 10%;
}

.carousel__track-container{
  width: 800px;
  height: 630px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.carousel__track{
  padding: 0;
  margin:0;
  list-style: none;
  position: relative;
  height: 500px;
  transition: transform 0.25s ease-in;
  
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 800px;
  //animation: fade;
  //animation-duration: 5s;
}

// @keyframes fade {
//   from{
//     opacity: 1;
//   }
//   to{
//     opacity: 0;
//   }
// }

.carousel__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0px;
  padding: 10px;
}
.left{
  left: -40px;
  cursor: pointer;
}

.right{
  right: -40px;
  cursor: pointer;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator{
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 12px;
  background-color: rgb(239, 221, 205, 0.3);
  cursor: pointer;
}

.carousel__indicator.current-slide{
  background-color: rgb(239, 221, 205, 0.7);
}

.is-hidden{
  display: none;
}