@use 'variables';

.first_button{
  display: flex;
  justify-content: center;
}

#random_character{
  background-color: variables.$highlight;
  color: variables.$bg-color;
  font-size: 20px;
  padding: 20px;
  border-radius: 50px;
  &:hover{
    background-color: #306644;
    transition: 0.3s;
    transition-delay: 0.05s;
  }
}

#container{
  //background-color: variables.$accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.name{
  font-family: variables.$body-font;
  font-size: 20px;
}