@use 'variables';

.first_button{
  display: flex;
  justify-content: center;
}

#random_character{
  background-color: variables.$highlight;
  color: variables.$bg-color;
  font-size: 16px;
  padding: 18px;
  border: 0px;
  border-radius: 50px;
  &:hover{
    background-color: #306644;
    transition: 0.3s;
    transition-delay: 0.05s;
  }
}

.second{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container{
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
}

.container_2{
  width: 300px;
  height: 300px;
}

.name, .nickname, .occupation, .portrayed, .status{
  font-family: variables.$body-font;
  font-size: 16px;
  font-family: variables.$head-font;
}

img{
  width: 300px;
  height: auto;
  border: 5px solid #F0E8C1;
}