//Fonts
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Plus+Jakarta+Sans:wght@300;400&display=swap');
$head-font: 'Crete Round', serif;
$body-font: 'Plus Jakarta Sans', sans-serif;

//Colors
$accent: #D8C453;
$body: #3F3F3F;
$highlight: #41895C;
$bg-color: #F0E8C1;