@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    max-width: 100vw;
    background-image: url(images/background_image.png);
    background-position: center;
    background-size: contain;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px;
    margin: 25px;
    letter-spacing: -0.5px;
}

nav h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.3em;
}

nav h2 {
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 0.95em;
}

.info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px;
    margin: 25px;
    margin-bottom: 60px;
    letter-spacing: -0.5px;
}

.info h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 0.95em;
}

.info p{
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 0.95em;
}

/* .gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 2;
    grid-column-end: 6;
    gap: 20px;
} */

.gallery {
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 80px;
    gap: 20px;
}
/* .gallery_1, .gallery_2, .gallery_3{
    gap: 20px;
} */

/* .gallery .gallery_1 article{
    position: relative;
    
}

.gallery .gallery_1  article p{
    position: absolute;
}

.gallery .gallery_2 article{
    position: relative;
    
}

.gallery .gallery_2  article p{
    position: absolute;
}

.gallery .gallery_3 article{
    position: relative;
    
}

.gallery .gallery_3  article p{
    position: absolute;
} */
article{
    position:relative;
}



article{
    filter: grayscale(100%);
}
article:hover{
    filter: none;
    transition-delay: .05s;
    transition-duration: 1s;
}

article:hover::after{
    background-color: rgb(255, 255, 255,.9);
    content: " ";
    top:0px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 80px;
}

article p {
    top: 10px;
    left: 15px;
    position: absolute;
    display: none;
}
article p:hover::after{
    top: 10px;
    left: 15px;
    display: inline;
}
/* article:hover::after{
    background-color: rgb(255, 255, 255,.9);
    content: "The Counter Press Business Cards";
    top:0px;
    left:0px;
    position: absolute;
    width: 100%;
    height: 25%;
    transition-delay: 0.05s;
    transition-duration: 1s;
} */



.posts, footer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 3;
    font-size: .6em;
}

.posts p{
    grid-column: 3 / span 1;
    margin-left: 40px;
    margin-bottom: 20px;
}
.list_one, .footer_disclaimer {
    grid-column: 3 / span 1;
    list-style: none;
    
    
}
.list_two, .footer_contact  {
    grid-column: 4 / span 1;
    list-style: none;
}
.list_three, .footer_managed {
    grid-column: 5 / span 1;
    list-style: none;
}
.list_four, .footer_follow{
    grid-column: 6 / span 1;
    list-style: none;
}

ul{
    margin-bottom: 150px;
    margin-left: 40px;
    line-height: 20px;
}

footer>*{
    margin-left: 40px;
    margin-bottom: 50px;
    width: 75%;
    color: #666;
}

footer a{
    color: #666;
    text-decoration: none;
}
footer a:hover{
    color: #666;
    text-decoration: underline;
}

.footer_disclaimer :nth-child(1){
    margin-bottom: 20px;
}
.footer_contact :nth-child(1){
    margin-bottom: 20px;
}
.footer_managed :nth-child(1){
    margin-bottom: 20px;
}
.footer_follow :nth-child(1){
    margin-bottom: 20px;
}