@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* body{
    width: 100vw;
    height: 100vh;
} */

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px;
    margin: 30px;
}

nav h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.3em;
}

nav h2 {
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 0.9em;
}

.info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px;
    margin: 30px;
    margin-bottom: 60px;
}

.info h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 0.9em;
}

.info p{
    grid-column-start: 3;
    grid-column-end: 6;
    font-size: 0.9em;
}

/* .gallery{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 2;
    grid-column-end: 6;
    gap: 20px;
} */

.gallery {
    display: flex;
    justify-content: space-evenly;
}

.gallery .gallery_1 article{
    position: relative;
}

.gallery .gallery_1  article p{
    position: absolute;
}

.gallery .gallery_2 article{
    position: relative;
}

.gallery .gallery_2  article p{
    position: absolute;
}

.gallery .gallery_3 article{
    position: relative;
}

.gallery .gallery_3  article p{
    position: absolute;
}






