@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

nav h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

nav h2 {
    grid-column-start: 3;
    grid-column-end: 6;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}