@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto&display=swap');

body{
  background-image: url("img/kiwihug-3gifzboyZk0-unsplash.jpg");
  background-size: cover;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.top{
  width: 400px;
}
.headline{
  font-family: 'Merriweather', serif;
  font-size: 62px;
  font-weight: 700;
  margin-top: 10px;
}

.subheadline{
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}
:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 1;
}

:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 2;
}
:nth-child(3){
  grid-column-start: 3;
  grid-column-end: 3;
}


.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 20px;
  padding: 20px;
  
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 28px;
}

img{
  width: 300px;
  height: auto;
  margin: 20px;
  box-shadow: 7px 5px 7px rgb(0, 0, 0, 0.4);
}

a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  text-decoration: underline;
}