body{
  margin: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 1;
}

:nth-child(2){
  grid-column-start: 2;
  grid-column-end: 2;
}
:nth-child(3){
  grid-column-start: 3;
  grid-column-end: 3;
}


.book{
  display: flex;
  flex-direction: column;
  width: 300px;
  
}

img{
  width: 250px;
  height: auto;
  margin: 20px;
}

img:hover{
  opacity: 0.3;
  color: rgb(0, 0, 0);
}